#link-dialog{ :title => "Link"}
  %form
    %fieldset
      = text_field "title", :caption => "Title"
      = text_field "uri", :caption => "Enter uri"
      = select_tag "uri-select", :class => "uri", :options => [["or select uri",""],["Example Link","http://www.example.com"],["Google", "http://www.google.com"],["relative uri", "index.html"]]

#insertImage-dialog{ :title => "Insert Image"}
  %form
    %fieldset
      = text_field "imageUri", :caption => "Enter image uri"
      = text_field "title", :caption => "Title"
      = text_field "uri", :caption => "Enter uri"

