- content_for :head do
  %title MarkupEditor's test suite
  = stylesheet_link_tag 'qunit'

%h1#qunit-header MarkupEditor's test suite
%h2#qunit-banner
#qunit-testrunner-toolbar
#qunit-userAgent
%ol#qunit-tests
#qunit-fixture
  will be hidden

%form#textile
  %textarea.markup.textile

%form#wysiwyg
  %textarea.markup.textile.wysiwyg

%div.markupClick.textile
  = erb :"textareas/html"

%form#externalSelect
  %select.availableModes
    %option{:value => 'textile'} Textile
    %option{:value => 'haml'} Haml
    %option{:value => 'modeWithoutToText'} Basic Mode
    %option{:value => 'completeSyncMode'} Basic Mode
    %option{:value => 'unknown'} Unknown
  %textarea.ta1.markupExternalSelect.textile
  %textarea.ta2.markupExternalSelect.textile

%form#externalSelect2
  %select.availableModes
    %option{:value => 'textile'} Textile
  %textarea.markupExternalSelect2.textile

%div.markupClick.unknown2{ :src => 'api/markup/get?file=unknown'}
  = erb :"textareas/html"

%form#wrongExternalSelect
  %textarea.textile

%div.markupWithWrongSelect.textile

%div.markupClick.haml{ :src => 'api/markup/get?file=haml'}
  = erb :"textareas/html"

- content_for :bottom do
  = javascript_include_tag "vendor/qunit"
  = javascript_include_tag "test/support/testHelper"
  = javascript_include_tag "test/support/modeWithoutToText"
  = javascript_include_tag "test/markupEditor"
  = javascript_include_tag "test/wysiwygMode"
  = javascript_include_tag "test/textileMode"
  = javascript_include_tag "test/textileCompiler"
