- content_for :head do
  %title MarkupEditor's tests

%h1 Test Overview
%p
  Select the filter to run the tests:
%ul
  %li= link_to "All", "test_runner.html"
  %li= link_to "General", "test_runner.html?filter=Markup"
  %li= link_to "Textile Mode", "test_runner.html?filter=textile"
  %li= link_to "Textile Compiler", "test_runner.html?filter=textileCompiler"
  %li= link_to "Textile Tracer", "test_runner.html?filter=textileTracer"
  %li= link_to "Wysiwyg Mode", "test_runner.html?filter=wysiwyg"
